/* 
Project Name: Vault of the Macabre
Client: Darren J Field
Author: Mark Kalns
*/

/******************************************
/* COLOURS
/*******************************************/

/* add a list of colours used in the project */

/******************************************
/* SENSIBLE DEFAULTS                   
/*******************************************/

* {
     box-sizing: border-box;
}

/******************************************
/* TYPOGRAPHY
/*******************************************/

/* add type styles here */
@font-face {
  font-family: 'AR DARLING';
  src: url('http://www.fontsaddict.com/fontface/ar-darling.ttf');
}


/******************************************
/* LAYOUT                   
/*******************************************/

html {
	background-color: black;
}

.site-container {
	max-width: 960px;
	margin: 0 auto;
	background-color: black;
	color: #770001;
}

.site-header {
}
.site-header h1 {
	font-size: 90px;
	text-align: center;
	color: #770001;
	font-family: 'ardarling', 'cracked';
}

.site-content {
}
.site-footer {
	color: #770001;
}

/******************************************
/* HELPER CLASSES
/*******************************************/

/* Clearfix */
.clearfix:before,
.clearfix:after {
     content: " ";
     display: table;
}
.clearfix:after {
     clear:both;
}

.is-hidden {
     display: none;
}
.is-visible {
     display: block;
}


/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/




